&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;

        ade9430@0 {
		status = "okay";
                compatible = "adi,ade9430";
		spi-max-frequency = <1000000>;
		spi-cpol;
		spi-cpha;
                reg = <0>;
		enable_phase = <1 0 0>; // Enable measurement on PHASE_A only
		enable_temp; // Enable temperature sensor
        };
};

